def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm')
trace {
    enabled = true
    file = "${params.stdout}/${params.rep_name}_pipeline_trace_${trace_timestamp}.txt"
}

pullTimeout = "200 min"
workDir = "/gpfs/data/fs71707/mgabr/nxt_work"

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "--bind /gpfs/data/fs71707/mwielsch1/SA_EPI/"
singularity.cacheDir = "/gpfs/data/fs71707/mwielsch1/SA_EPI/nxt_max/simg"

process.executor = 'slurm'
process.errorStrategy = 'ignore'

process {

    withName: 'SPADES|PILON' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=00:40:00 -t 01:20:00 -N 1'
    }

    withName: 'PROKKA|GENOMAD|PHAROKKA' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=00:20:00 -t 00:40:00 --mem=40G --ntasks-per-node=20'
    }

    withName: 'RAGOUTASSEMBLY|MLST|PADLOC' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=00:10:00 -t 00:20:00 --mem=2G --ntasks-per-node=2'
    }

    withName: 'PREPPILON' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=01:00:00 -t 01:30:00 --mem=5G --ntasks-per-node=2'
    }

    withName: 'PREPROCESS' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=01:00:00 -t 01:30:00 --mem=40G --ntasks-per-node=5'
    }

    withName: 'AMRFINDER' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=00:05:00 -t 00:10:00 --mem=1G --ntasks-per-node=5'
    }

    withName: 'CHECKM' {
        clusterOptions = '-p skylake_0096 --qos=skylake_0096 --time-min=00:10:00 -t 00:20:00 --mem=40G --ntasks-per-node=2'
    }
}
